.App {
    padding: 5%;
    text-align: center;
    direction: rtl;
    display: flex;
    justify-content: space-around;
}

.MuiFormControl-root, .MuiInputBase-root {
    width: 100% !important;
}

.MuiFilledInput-adornedEnd {
    padding-left: 10px;
    padding-bottom: 0;
}
.lds-dual-ring {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
}
.lds-dual-ring:after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 50%;
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid black;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

