.App {
    padding: 5%;
    text-align: center;
    direction: rtl;
    display: flex;
    justify-content: space-around;
}

.MuiFormControl-root, .MuiInputBase-root {
    width: 100% !important;
}

.MuiFilledInput-adornedEnd {
    padding-left: 10px;
    padding-bottom: 0;
}